<!-- bắt đầu content -->
<!-- <div id="content">
<div id="tweetcontent">
  <div class="form-group">
    <label for="comment"></label>
    <textarea class="form-control" rows="2" id="comment" placeholder="Chia sẻ suy nghĩ của bạn!" style="width: 800px;"></textarea>
  </div>
</div>
</div> -->
<!-- kêt thúc content --> 

    <style type="text/css">
      *{
        margin: 0px;
        padding: 0px;
      }
      #page{
        width: 1400px;
        height: 1000px;
      }
      #header{
        width: 1400px;
        height: 100px;
        background-color: #F5F8FA;
      }
      #content{
        width: 1400px;
        height: 900px;
        background-color: #F5F8FA;
      }
      #header ul{
        width: 400px;
      }

      #tweetcontent{
        margin-left: 250px;
      }

    </style>
 
    

<div id="page">
  <!-- bắt đầu content -->
  <div id="content">
    <div id="tweetcontent">
      <div class="form-group">
        
        <!-- khu vực nhập tweet -->
        <textarea class="form-control" rows="2" id="myTextarea" placeholder="Chia sẻ suy nghĩ của bạn!" style="width: 800px;"></textarea>
        <!-- kết thúc textarea nhập tweet -->
      

        <!-- button để đăng tweet -->
        <button type="button" onclick="myFunction()" class="btn btn-success" style="margin-top: 10px;">Tweet</button>
        <!-- kết thúc button để đăng tweet -->

        <!-- hàm để đăng tweet -->
        <script>
        function myFunction() {
            var x = $("#tweet").html() + "<p id=demo>" + document.getElementById("myTextarea").value + "</p><br>Comment:"
        + "<br><textarea placeholder='Your name' name=name id=name style='margin-left: 0px; width: 150px;height: 25px;' ></textarea>"
        + "<br><textarea placeholder='Input your comment' name=comment id=comment style='margin-left: 0px; width: 80%;height: 50px;'></textarea>"
        + "<br><button type=submit onclick=showcomment()>Submit</button><div id=comment_view><hr>";
            document.getElementById("tweet").innerHTML = x;
            document.getElementById("myTextarea").value = "";
            $.post("/saveContent", {ower: getCookie("cusername"), content: document.getElementById("myTextarea").value},  function() {		
            });
        }
        </script>
        <!-- kết thúc hàm để đăng tweet -->
      </div>
    </div> <!-- kết thúc div tweetcontent -->
    
    <div id="tweet" style="margin-left: 250px; margin-top: 50px;"> <!-- bắt đầu div tweet, div nội dung tweet trên wall -->
      
    </div> <!-- kết thúc div tweet -->
  </div> <!-- kêt thúc div content -->
  <%= render "frindFriend" %>
</div> <!-- kết thúc div page -->
<script>
  function showcomment() {
      var n = $('#name').val();
      var c = $('#comment').val();
      var temp = window.location.href;
      for (var i=temp.length; i>0; i--) {
          if (temp[i] == '/') {
          temp = temp.substring(i+1, temp.length);
          }
      }
     
      var strhtml ;
      strhtml = "<div style = border-bottom-style:double;> <span class=author><b class=author-name>" +
      n + "</b> said:</span> <blockquote style=margin-left:10px;>" + c + "</blockquote> </div>";
      $('#comment_view').append(strhtml);
  }
</script>

