<!-- bắt đầu content -->
<div id="content">
<div id="tweetcontent">
  <div class="form-group">
    <label for="comment"></label>
    <textarea class="form-control" rows="2" id="comment" placeholder="Chia sẻ suy nghĩ của bạn!" style="width: 800px;"></textarea>
  </div>
</div>
</div>
<!-- kêt thúc content -->