$("#content").css("display","none");
$(".list-group").css("display","block");
$(".list-group-item").remove();
<% @getList.each do |i| %>
    $('.list-group').append("<a class=list-group-item><%= i.username %></a>");
<% end %>

$('.list-group-item').click(function() {
    $.post("/saveFriend", {ower: getCookie("cusername"), friend: $( this ).text();},  function() {		
    });
    
});